body{
    background-color: #F5FBFF;
}

.container {
    display: flex;
    flex-direction: column;     
  }
.container > * {
    flex: 1 100%;
    padding: 10px;
}

.header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 103px;
    line-height: 121px;
    text-align: center;
    color: #4955F5; 
}
  
.bubble {  
    background-image: url('./PICS/bubbles-bg.png');
    background-repeat: no-repeat;
    background-position: center;  
   
  }

  .cardContainer{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; 
  }
.cardBox{
    display: flex;
    padding: 2%;
    flex-grow: 1; 
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.rectangle { 
    border-radius: 12px;
    background: #FFFFFF; 
    display: flex;  
    justify-content: center;
}

.imgLadyPosition{
    height: 549px;
    background: url('./PICS/lady.png');
    background-repeat: no-repeat ; 
    width: 525px;
    background-position: center;
    
}

.bottleBackgroundLeftSide{
    width: 304px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px ;
    }

.bottlePositionLeftSide{
    width: 204.37px;
    height: 62px;
    background: url('./PICS/6bttls.png');
}


.bottleBackgroundCenter{ 
    width: 304px;
    height: 407px;
    background: #FFFFFF;
    border: 2px solid #4955F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;      
}

.bottlePositionCenter{  
    width: 204.37px;
    height: 80px;
    background: url('./PICS/12bttls.png');
    display: inline-flex; 
}

.bestPriceBackground{ 
    width: 192.86px;
    height: 129.71px; 
    background: url('./PICS/Rectanglebestprice.png');
    background-repeat: no-repeat;
} 

.bestPriceBanner{
    width: 179.4px;
    height: 34.72px;  
    transform: rotate(-30deg);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

color: #FFFFFF;
}

.bottleBackgroundRightSide{
    width: 304px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 24px ;
}

.bottlePositionRightSide{
    width: 204.37px;
    height: 99px;
    background:url('./PICS/24bttls.png');
    background-repeat: no-repeat;  
}

.bottleTextBoxLeft{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center; 
    margin-top: 40%;
    color: #4955F5;   
}

.bottlePriceBoxLeft{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    text-align: center; 
    color: #4955F5; 
}

.bottleTextBoxCenter{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center; 
    margin-top: 45%;
    color: #4955F5; 
}

.bottlePriceBoxCenter{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    line-height: 45px;
    text-align: center; 
    color: #4955F5;
    line-height: 70px;
}

.bottleTextBoxRight{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center; 
    margin-top: 50%;
    color: #4955F5; 
}



.bottlePriceBoxRight{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    line-height: 45px;
    text-align: center; 
    color: #4955F5;
  
}


/* .priceCalculator{
   
} */

.btnInfo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    width: 23px;
    height: 22px;
    text-align: center;
    background: #4955F5;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}

.myInputSize{
    width: 31.2px;
    height: 30.09px;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: center;
    color: black;
}

.billingContainer{
   
}

.billingBox{
    display: flex;
}

.billingHeader{
    color: #4955F5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;   
}

.formGroupContainer{
    display: flow-root;
}

.form-group{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #4955F5;
    display: grid;
    margin-bottom: 5px;
    margin-right: 24px;
}

.form-control{
    width: 140px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
  }
.emailInput{
    width: 304px;
    height: 33px;
}

.bottlePackContainer{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4955F5;
}

.borderLine{
    border: 1px solid #4955F5;
    width: 304px;
    height: 0px;
}

.inputPosition{
    display: flex;
   
}

.totalNumberContainer{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
/* identical to box height */

color: #4955F5;
}

.totalAmountSmall{
    display: flex;

}

.totalNumber{
    display: flex;
}

.totalNumberPosition{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 10%;
  
}
  
/* @media all and (min-width: 600px) {
    .cardContainer { flex: 3 0 0; }
    .billingContainer { flex: 3 0 0; }

  }

@media all and (min-width: 1200px){
    .bottlePosition {flex: 3 0px;}
    .header {order: 1;}
    .bottleBackgroundLeftSide {order: 2;}
    .bottleBackgroundCenter {order: 3;}
    .bottleBackgroundRightSide {order: 4;}
    .billingContainer {order: 5;;}
    .imgLadyPosition {order: 6;}
} */





/* @media (max-width: 1440px ){
    .cardContainer {
        flex: 1 21%;
    }
} */
