body {
    background-color: #F5FBFF;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto auto auto;
}

.container>* {
    /* flex: 1 100%; */
    padding: 10px;
}

.header {
    display: list-item;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 103px;
    line-height: 121px;
    text-align: center;
    color: #4955F5;
}

.bubble {
    background-image: url('./PICS/bubbles-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rectangle {
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.cardContainer {
    display: flex;
}

.cardBox {
    display: flex;
    padding: 2%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imgLadyPosition {
    height: 549px;
    background: url('./PICS/lady.png');
    background-repeat: no-repeat;
    width: 525px;
    background-position: center;
}

.bottleBackgroundLeftSide {
    width: 304px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.bottlePositionLeftSide {
    width: 204.37px;
    height: 62px;
    background: url('./PICS/6bttls.png');
}


.bottleBackgroundCenter {
    width: 304px;
    height: 407px;
    background: #FFFFFF;
    border: 2px solid #4955F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
}

.bottlePositionCenter {
    width: 204.37px;
    height: 80px;
    background: url('./PICS/12bttls.png');
    display: inline-flex;
}

.bestPriceBackground {
    width: 192.86px;
    height: 129.71px;
    background: url('./PICS/Rectanglebestprice.png');
    background-repeat: no-repeat;
}

.bestPriceBanner {
    width: 179.4px;
    height: 34.72px;
    transform: rotate(-30deg);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.bottleBackgroundRightSide {
    width: 304px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.bottlePositionRightSide {
    width: 204.37px;
    height: 99px;
    background: url('./PICS/24bttls.png');
    background-repeat: no-repeat;
}

.bottleTextBoxLeft {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-top: 40%;
    color: #4955F5;
}

.bottlePriceBoxLeft {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: #4955F5;
}

.bottleTextBoxCenter {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-top: 60%;
    color: #4955F5;
}

.bottlePriceBoxCenter {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    line-height: 45px;
    text-align: center;
    color: #4955F5;
}

.bottleTextBoxRight {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-top: 50%;
    color: #4955F5;
}

.bottlePriceBoxRight {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    line-height: 45px;
    text-align: center;
    color: #4955F5;
}

.priceCalculator {
    display: flex;
    justify-content: center;
}

.btnInfo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin: 5%;
    width: 23px;
    height: 22px;
    text-align: center;
    background: #4955F5;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}

.quantityInputContainer {
    display: inline-block;
}

.quantityInput {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    width: 31.2px;
    height: 30.09px;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: center;
    color: #4955F5;
    font-size: 14px;
    text-align: center;
    align-self: center;
    line-height: 30px;

}

.billingBox {
    display: flex;
    flex-direction: row;
}

.billingHeader {
    color: #4955F5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
}

.formGroupContainer {
    display: flow-root;
}

.form-group {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #4955F5;
    display: grid;
    margin-bottom: 5px;
    margin-right: 24px;
}

.form-control {
    width: 140px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #4955F5;
    box-sizing: border-box;
    border-radius: 5px;
}

.emailInput {
    width: 304px;
    height: 33px;
}

.bottlePackContainer {}

.bottlePackInfo {
    display: flex;
    align-items: center;
}

.borderLine {
    border: 1px solid #4955F5;
    width: 304px;
    height: 0px;
}

.inputPosition {
    display: flex;
}

.bottlePackNumber {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #4955F5;
}

.packQuantityNumber {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #4955F5;
    margin: 17px;

}

.totalNumberContainer {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #4955F5;
}

.totalAmountSmall {
    display: flex;

}

.totalNumber {
    display: flex;
}

.totalNumberPosition {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 10%;
}

.checkoutBackground {
    display: flex;
    justify-content: center;
}

.buttonImg {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.billingInfo {
    align-self: center;
}


.error {
    display: none;
    color: red;
}


#overlay {
    color: #ED5B55;
    position: fixed;
    display: none;
    width: 100%;
    height: 1688px;
    left: 0px;
    top: 0px;
    z-index: 2;
    cursor: pointer;
    background: rgba(73, 85, 245, 0.8);
}

.viewOverlayContainer {
    display: flex;
    justify-content: center;
}

.viewOverlay {
    width: 568px;
  
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 0px 18px rgba(73, 85, 245, 0.33);
    border-radius: 12px;
}

.textLayout {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #ED5B55;
}


input:valid,
input:in-range {
    background: hsl(120, 50%, 90%);

}

input:invalid,
input:out-of-range {

    background: hsl(0, 50%, 90%);
}

input:focus+.help,
input:invalid+.help {
    display: inline-block;
}

#bottlePackLargeSummary[data-count="0"],
#bottlePackSmallSummary[data-count="0"],
#bottlePackMediumSummary[data-count="0"] {
    display: none;
    /* visibility:hidden ; View option  */
}

.viewName {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    color: #4955F5;
    display: flex;
    justify-content: center;
}

.viewNumberOfPackges {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#firstnameOverlay {
    margin-right: 5px;
}

.thanksYouSign {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

.closeButtonImgContainer {

    display: flex;

    justify-content: flex-end;

    margin-right: 15px;

    margin-top: 10px;
}

.closeButtonImg {

    width: 14px;
    height: 14px;

}

@media screen and (max-width: 1440px) and (min-width: 320px) {
    .billingBox {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 980px) {
    .cardBox {
        flex-direction: column;
    }
}